@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    background: linear-gradient( 90deg, #13d83b, #00df04, #e3fb09, #dde405);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hedding-title {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.3;
}

.heading-title span {
    color: #42dd17;
    font-weight: 700;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    padding-top: 40px;
    display: flex;
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.primary-btn {
    padding: 15px 40px;
    background: #7fc142;
    font-weight: bold;
    color: white;
}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

.container {
    max-width: 85%;
    margin: auto;
}


/*--------header---------*/

header {
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header img {
    margin: 20px 0;
}

header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
}

header ul li a {
    color: #000;
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover {
    color: #7fc142;
}

header i {
    margin: 0 20px;
}

header button {
    padding: 13px 40px;
}

header .navlinks span {
    display: none;
}

@media only screen and (max-width:768px) {
    header ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #009f7f;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center;
        z-index: 9;
    }
    header ul li {
        display: block;
    }
    header ul li a {
        color: white;
    }
    header i {
        color: white;
    }
    header .navlinks span {
        color: black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }
}


/*--------header---------*/


/*--------home---------*/

.home {
    height: 100vh;
    color: #fff;
}

.home img {
    width: 100%;
    height: 100vh;
}

.home .text {
    position: absolute;
    top: 35%;
    left: 5%;
}

.home .text h1 {
    font-size: 80px;
    font-family: serif;
    font-weight: 400;
}

.home p {
    margin: 20px 0;
}

.home button {
    margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 40%;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}


/*--------home---------*/


/*--------book---------*/

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.book {
    padding: 40px 0;
    background: #282834;
    color: #fff;
}

h1 {
    font-family: serif;
}

.book h1 {
    font-size: 28px;
}

.book h1 span {
    color: #7fc142;
}

.book input {
    padding: 20px;
}

.book input:nth-last-child(1) {
    background: #7fc142;
    color: #fff;
}

.about-image {
    width: 180%;
    /* adjust if needed */
    height: 480px;
    padding-left: 100px;
    /* fixed height */
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* important: crops image nicely */
    border-radius: 10px;
    display: block;
}

.about-section {
    margin-right: 2px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading h1 {
    font-size: 100px;
    font-weight: 500;
    opacity: 0.1;
    font-family: serif;
    position: absolute;
    top: -30px;
}

.heading h2 {
    margin: 30px 0;
    font-size: 45px;
    font-family: serif;
    padding-top: 20px;
    font-weight: 400;
}

.about .heading h1 {
    top: 55px;
}

.about {
    position: relative;
}

.about .left {
    margin-top: 60px;
}

.about p {
    font-size: 15px;
}

.about button {
    margin: 30px 0;
}

.counter {
    background-image: url("../kingimages/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    color: #fff;
}

.counter .grid {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    place-items: center;
    padding-top: 60px;
}

.counter h1 {
    font-size: 50px;
}

.counter hr {
    width: 50%;
    margin: 10px auto;
    background: #7fc142;
    height: 2px;
    border: none;
}

.rooms {
    position: relative;
}

.rooms .text {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    padding: 30px;
}

.rooms i {
    font-size: 12px;
    color: #fbb234;
    margin: 15px 0;
    margin-right: 5px;
}

.rooms p {
    margin: 20px 0;
    opacity: 0.7;
}

.rooms h3 {
    font-size: 30px;
    line-height: 20px;
    margin-left: 20px;
    font-weight: 500;
    color: #7fc142;
}

.rooms h3 span {
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
    position: absolute;
    top: -20%;
    height: 50px;
    width: 50px;
    background: #7fc142 !important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
    color: #fff;
}

.owl-carousel1 .owl-nav .owl-prev {
    left: 90%;
}

.owl-carousel1 .owl-nav .owl-next {
    right: 0;
}

.gallery {
    position: relative;
}

img {
    width: 100%;
    height: 200px;
}

.gallery .img {
    position: relative;
}

.gallery .img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 251px;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 3;
    text-align: center;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.gallery span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
}

.overlay h3 {
    margin-top: 20px;
    font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
    opacity: 1;
    cursor: pointer;
}

.gallery .owl-nav .owl-prev {
    left: 85%;
}

.gallery .owl-nav .owl-next {
    right: 5%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
    top: -40%;
}


/*--------gallery---------*/


/*--------services---------*/

.services {
    position: relative;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.services .left {
    padding: 30px 0;
}

.services .box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.5s;
    padding: 20px;
}

.services .box .text {
    padding: 30px 0;
    border: 1px dashed #fff;
}

.services i {
    font-size: 50px;
    color: #7fc142;
    transition: 0.5s;
}

.services h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20p;
    transition: 0.5s;
}

.services img {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

.services .box:hover {
    background: #7fc142;
    color: #fff;
    cursor: pointer;
}

.services .box:hover i,
.services .box:hover h3 {
    color: #fff;
}


/*--------footer---------*/

footer {
    background: #282834;
    color: #b6b7b9;
    padding: 5% 0 5% 0;
}

footer .grid {
    grid-template-columns: 6fr 3fr 3fr;
}

footer p {
    color: #b6b7b9;
    font-size: 15px;
    line-height: 25px;
}

footer .icon i {
    margin: 20px 20px 20px 0;
    color: #b6b7b9;
    font-size: 30px;
}

footer h2 {
    color: #fff;
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 20px;
}

footer i {
    color: #7fc142;
    margin: 20px 0;
    margin-right: 20px;
}

footer label {
    margin: 20px 0;
}

.legal {
    padding: 10px 0;
    background: #282834;
    color: #b6b7b9;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}


/*--------footer---------*/

@media only screen and (max-width:768px) {
    .home {
        color: #fff;
        height: 50vh;
    }
    .home img {
        width: 100%;
        height: 50vh;
    }
    .left,
    .right {
        width: 100%;
    }
    .book h1 {
        margin-bottom: 20px;
    }
    .container.flex,
    .book .flex_space {
        flex-direction: column;
    }
    .book .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .counter .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .owl-carousel .owl-nav .owl-prev {
        left: 80%;
    }
    .gallery .owl-nav .owl-prev {
        left: 75%;
    }
    .rooms .owl-nav .owl-prev,
    .rooms .owl-nav .owl-next {
        top: -30%;
    }
    .gallery .owl-nav .owl-prev,
    .gallery .owl-nav .owl-next {
        top: -80%;
    }
    .services .flex_space {
        flex-direction: column;
    }
    .Customer {
        height: 60vh;
    }
    .Customer .container {
        max-width: 80%;
    }
    .owl-carousel2 .owl-dots {
        bottom: 0;
        left: 44.5%;
    }
    .news .content.flex {
        flex-direction: column;
    }
    .news .left {
        padding: 30px 0;
        width: 100%;
    }
    .news .right {
        width: 100%;
    }
    .newsletter {
        position: relative;
        background: #7fc142;
    }
    .newsletter .container {
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 30px;
        position: relative;
    }
    .newsletter .flex_space {
        flex-direction: column;
    }
    .newsletter input:nth-last-child(2) {
        margin: 20px 0;
        width: 100%;
    }
    .newsletter input:nth-last-child(1) {
        margin: 0;
    }
    footer .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}